@import 'https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap'

body{
	font-size: 60px;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
}
#menu ul{
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#menu li{
	font-size: 1.5em;
	line-height: 40px;
	text-align: left;
}
#menu a{
	text-decoration: none;
	color: white;
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid white;
}
#menu a:hover{
	background-color: #AFFDA4;
	color : #29786F ;
	transition-delay: 0.2s;
	padding: 0em 0.5em;
	transition-duration: 0.2s;
	}
#menu a:visited{
	text-decoration: none;
	}
#menu li{
	width: 200px;
	border-bottom: none;
	height: 50px;
	line-height: 50px;
	font-size: 1.5em;
	display: inline-block;
	text-align: left;
}
/* Sub menu */
#menu li li{
	font-size: 18px;
}
#menu li ul{
	position: absolute;
	display: none;
	width: inherit;
}
#menu li:hover ul{
	display:block;
}